<style>
  .custom-logo{
    margin-left: 40% !important;
  }
  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }
    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }
    .card.highlight-card span {
      margin-left: 72px;
    }
    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }
  @media screen and (max-width: 575px) {
    div .custom-form {
      margin-left: 10% !important;
    }
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
  @media screen and (max-width: 998px) {
    .custom-logo{
      margin-left: 38% !important;
    }
  }
  @media screen and (max-width: 500px) {
    .custom-logo{
      margin-left: 30% !important;
    }
  }
  @media screen and (max-width: 508px) {
    .custom-logo{
      margin-left: 27% !important;
    }
  }
</style>

<div class="content" style="margin-bottom: 50px" role="main">
  <div class="container">

    <div class="container-fluid">
      <div class="mx-auto mt-1">
        <div class="row">
        <!--style="margin-left:402px;" -->
        <img 
        class="img-logo custom-logo" 
        src='/assets/logo-ban-colombia.png' 
        width="200"
        height="100" 
        alt='image'>
        </div>
      </div>
      <h2 class="text-center mt-1">Prueba de desarrollo BanColombia</h2>
      <p class="text-center mt-1">Un Banco líder en Colombia para el mercado de empresas, personas y el sector social.<br/> El mejor apoyo para el crecimiento y progreso de sus clientes. Un Banco que cumple con <br/> 
      los objetivos de liderazgo en eficiencia, rentabilidad, utilidad y <br/>generación de valor que esperan los accionistas..
      </p>
     </div>

     <div class="container-fluid mt-2">
      <div class="row mt-2">
          <div class="col-lg-6 col-sm-12 col-md-6 mt-2">
            <div class="row">

              <!--  style="width:370px; height:358px;" -->
              <img class="col-9 col-lg-offset-3"  
              style="height:368px; margin-left: 10%;"
              height="100"
              alt="14" 
              src='/assets/bancolombia-form.png' 
              alt='image'>
            </div>
          </div>

          <div class="col-lg-6 mt-2 col-sm-12 col-md-6 col-offset-3 custom-form">
            <div class="row">
                <div class="col-10 card" style="height: auto"> 
          
                <form [formGroup]="formOrden" (ngSubmit)="guardarDatos($event)">
                  <!--  -->
                  <div class="form-group mt-5">
                      <label for="nombre" class="font-weight-bold">Nombre*</label>
                      <input 
                        type="text" 
                        formControlName="nombre" 
                        class="form-control" 
                        id="nombre"
                        required
                        [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" 
                        placeholder="Nombre">
                  </div>
                  <div 
                    *ngIf="submitted && f.nombre.errors" 
                    class="text-danger require-error">
                      <div *ngIf="f.nombre.errors.required || f.correo.errors.maxlength">Debe ingresar el nombre es requerido, Caracter maximos 50</div>
                  </div>
                  <!-- -->
                  <div class="form-group">
                      <label for="grupo" class="font-weight-bold">Grupo*</label>
                      <select 
                        class="form-control" 
                        name="select" 
                        required 
                        id="grupo" 
                        [ngClass]="{ 'is-invalid': submitted && f.grupo.errors }"
                        formControlName="grupo">
                        <option value="">Seleccione Grupo</option>
                        <option [value]="varGrupo.Id" *ngFor="let varGrupo of grupo">{{varGrupo.Nombre}} </option>
                        <!--<option [value]="varDepart" *ngFor="let varDepart of grupo, let i = index">{{varDepart}} </option>-->
                      </select>
                  </div>
                  <div 
                    *ngIf="submitted && f.grupo.errors" 
                    class="text-danger require-error"> 
                      <div *ngIf="f.grupo.errors.required">el Campo Grupo debe ser valido</div>
                  </div>
                <!--  ---->
                  <div class="form-group">
                      <label for="cargo" class="font-weight-bold">Cargo*</label>
                      <select 
                        class="form-control" 
                        id="cargo"
                        name="select" 
                        required 
                        [ngClass]="{ 'is-invalid': submitted && f.cargo.errors }"
                        formControlName="cargo">
                       <option value="">Seleccione Cargo</option>
                       <option [value]="varCargo.Id" *ngFor="let varCargo of cargo">{{varCargo.Nombre}} </option>
                       <!--<option [value]="varcargo" *ngFor="let varcargo of cargo, let i = index">{{varcargo}} </option>-->
                      </select>
                  </div>
                  <div 
                    *ngIf="submitted && f.cargo.errors" 
                    class="text-danger require-error">
                      <div *ngIf="f.cargo.errors.required">el Campo Cargo debe ser valido</div>
                  </div>
                <!-- -->
                <div 
                    *ngIf="errorFormulario" 
                    class="text-danger require-error mb-3">{{msg}}
                </div>
                  <div class="form-group">
                    <button 
                    style="margin-left: 38%;
                      width: 24%;
                      border-radius: 15px;
                      background: #F01766;" 
                    type="submit" 
                    class="btn btn-primary mb-2">Enviar
                    </button>
                  </div>
                </form>
              </div>
            </div> 
          </div>

      </div>
     </div>
  </div>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


